/*bv.less*/
#header.bv-wrapper, #bv-tab-bar{
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        -moz-border-radius: 0.5em 0.5em 0 0;
        background: #003d4c;
        height: 60px;
        overflow: hidden;
        position: relative;
        .bv-logo{
            a {}
        }
    }